body{
  margin-left:10%;
  margin-right:10%;
  margin-top:30px;
  margin-bottom:20px;

  }
menu{
  margin-left:10px;

  width:150;
  height:100;
  overflow:auto;
  border-width:3px;
  border-color:black;
  border-style:solid;
  background:grey;


  font-family:Airal;
  font-size:14;
  font-weight:bold;

}
