body{

  margin-left:10%;
  margin-right:10%;
  margin-top:30px;
  margin-bottom:20px;

  background-image:url(/imagenes/Fondo3.png);
  background-attachment:fixed;
  background-repeat:repeat;

  }

#menu{
  text-align:center;
  margin-top:8;
}
#menu dl{

  list-style:none;
  width:185;
  height:auto;
  padding:5px;
  overflow:auto;
  line-height:20px;
  margin:auto;

  border-color:black;
  border-style:solid;
  background:#424242;


  font-family:Airal;
  font-size:14;
  font-weight:bold;
}
#enlace_github p{
  width:89px;
  float:right;
  border-right:1px solid #d2d2d2;
  height:40px;
}
